<div class="row">
  <div class="header col-sm-10 col-sm-offset-1">
    <div class="jumbotron">
      <div class="slider">
        <%= image_tag @album[0].img_url %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="header col-sm-10 col-sm-offset-1">
    <div>
      <div class="mid-hr"><hr></div>
      <ul class="mid-menu">
        <li><a href="#">All</a></li>
        <% @menu_items.each_with_index do |m, i| %>
        <li><a href="#"><%= m %></a></li>
        <% end %>
      </ul>
      <div class="mid-hr"><hr></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="tag-section col-sm-10 col-sm-offset-1">


    <% total_col = 4 %>
    <% nums_per_col = @shuffled_album.count / total_col %>
    <% album_array = @shuffled_album.each_slice(nums_per_col).to_a %>


    <% album_array.each do |array_section| %>
    <div class="col">

      <% array_section.each do |album| %>
      <div class="tag-wrapper">
        <div class="tag-image">
            <%= link_to image_tag(album.img_url), album.link_url, :target => "_blank" %>
        </div>
        <div class="tag-link">
          <p><%= album.look_title %></p>
        </div>
      </div>
      <% end %>

    </div>
    <% end %>


  </div>
</div>




