<div class="row">
  <div class="header col-sm-10 col-sm-offset-1">
    <div class="jumbotron">
      <div class="slider">
        <img src="http://blog.trashness.com/wp-content/uploads/2011/02/mens-fashion-blog-streetstyle-hipster-doofus.jpg">
      </div>
    </div>
  </div>
</div>

<h1>Image Uploader</h1>