<div class="row">
  <div class="header col-sm-10 col-sm-offset-1">
    <div class="jumbotron show">

      <div class="header-wrapper show">

        <div class="col left">
          <div class="tag-header show">
            <h1>#thelook</h1>
          </div>

          <div class="tag-wrapper show">
            <div class="tag-img show">
              <img src="http://blog.trashness.com/wp-content/uploads/2011/02/mens-fashion-blog-streetstyle-hipster-doofus.jpg">
            </div>
            <div class="tag-link show">
              <p>Spotted on <a href="http://blog.trashness.com/page/277" class="tag-link-page-header">trashness // men's fashion blog - Part 277</a></p>
            </div>
          </div>

        </div>

        <div class="col right">
          <div class="sidebar-header show">
            <h1>Related</h1>
          </div>
        </div>

      </div>



    </div>
  </div>
</div>