// Place all the styles related to the album controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container .jumbotron.show {
  border-radius: 0px;
}

.header-wrapper.show {
  width: 945px;
}

/* Left Column Styling*/

.col-left {
  width: 700px;
  float: left;
}

.tag-header.show {
  background-color: black;
  padding: 15px;
  margin: 0px;
  margin-right: 0px;
  width: 700px;
  height: 80px;
}

.tag-header.show h1 {
  font-family: 'robotomedium';
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  font-size: 30px;
}

.main-tag-wrapper.show {
  border: 1px solid #aaa;
  width: 700px;
  position: static;
  text-align: center;
  border-radius: 2px;
  clear: none;
  background-color: white;
  margin-top: 0px;
  margin-top: 10px;
  padding-bottom: 35px;
}

.tag-wrapper.show {
  margin-left: 15px;
}

.main-tag-img.show img {
  width: 700px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 0px;
}

.main-tag-link.show p {
  font-family: 'robotoregular';
  font-weight: bold;
  width: 700px;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tag-link-page-header h1 {
  font-family: 'robotobold';
}

.mid-hr.show {
  height: 2px;
  color: #ccc;
  background-color: #525252;
  margin: 0px;
  width: 630px;
  margin-left: 35px;
  margin-right: 35px;
}

/* Product item styling */
.category.show {
  background-color: black;
  margin-top: 20px;
  margin-left: 35px;
  margin-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.category.show p {
  font-family: 'trackregular';
  color: white;
  margin: 0px;
  padding: 0px;
}

.stash-container.show {
  margin-top: 15px;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 15px;
  height: 300px;
}

.stash-wrapper {
  width: 200px;
  height: 190px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  vertical-align: text-top;
}

.stash-wrapper img {
  height: 190px;
  margin-bottom: 15px;
}

.stash-wrapper .text {
  width: 190px;
  text-align: left;
  padding-left: 15px;
}

.stash-brand p {
  font-family: 'robotoblack';
  font-size: 13px;
  margin-bottom: 0px;
}

.stash-name p {
  font-family: 'robotoregular';
  font-size: 12px;
  margin-bottom: 0px;

}

.stash-price p {
  font-family: 'robotolight';
  font-size: 12px;
  margin-bottom: 0px;

}

/* Right Column Styling*/

.col-right {
  width: 245px;
  float: left;
  text-align: center;
}

.sidebar-header.show {
  background-color: white;
  width: 245px;
  height: 80px;
  border: 9px solid black;
  text-align: center;
  vertical-align: middle;
}

.sidebar-header.show h1 {
  font-family: 'trackregular';
  margin-top: 20px;
  padding: 0px;
  color: black;
  font-size: 23px;
}

.tag-desc {
  margin-left: 10px;
  margin-right: 10px;
}

.tag-desc p {
  font-family: 'robotoregular';
  font-size: 13px;
  margin-bottom: 5px;
}

.tag-desc a {
  text-decoration: none;
}

.album-image img {
  width: 190px;
}

.albums-wrapper {
  float: left;
  margin-right: 10px;
}

.img-wrapper {
  width: 220px;
  height: 380px;
  float: left;
  border: 1px solid #aaa;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.desc-wrapper {
  width: 240px;
  height: 380px;
  float: left;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #aaa;
  border-left: 0px;
}



.album-look-type {
  background-color: black;
}

.album-look-type h1 {
  color: white;
  font-family: 'robotomedium';
  padding: 5px;
  margin: 0px;
}

.album-look-desc p {
  font-family: 'robotoregular';
  font-size: 14px;
  margin: 0px;
  padding-left: 5px;

}

.album-source p {
  font-family: 'robotoregular';
  font-size: 14px;
  margin: 0px;
  padding-left: 5px;

}

.title {
  font-size: 20px !important;
  font-weight: bold;
  font-family: 'robotoblack';
}

p.title {
  margin-top: 10px;
  padding-left: 5px;
}

p.link {
  margin-top: 20px;
  font-size: 1px;
}

.page-title {
  background-color: black;
}

.page-title h1 {
  font-family: 'robotomedium';
  color: white;

  padding: 10px;
  font-size: 50px;
}

.album-wrapper {
  width: 460px;
  border: 1px solid #aaa;
  padding: 10px;
  float: left;
}

a.add_nested_fields {
  text-decoration: none;
  color: white;
  font-family: 'robotoregular';
  background-color: black;
  padding: 10px;
  margin-left: 53px;
  margin-top: 10px;
  padding-left: 62px;
  padding-right: 62px;
  font-size: 20px;
}

.items-wrapper {
  display: inline-block;
  margin-top: -20px;
}

.fields-wrapper {
  width: 460px;
  border: 1px solid #aaa;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 0px;
  margin-left: 25px;
}

// label {
//   display: inline-block;
// }

input {
  height: 30px;
  width: 428px;
  border-radius: 8px;
  padding-left: 5px;
}

textarea {
  height: 90px;
  width: 428px;
  border-radius: 8px;
}

select {
  height: 30px;
  width: 428px;
  border-radius: 8px;
}

.album-details h2 {
  margin: -10px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: black;
  color: white;
  font-family: 'robotoregular';
  font-size: 20px;
}

.field {
  font-family: 'robotoregular';
  font-size: 16px;
  margin-bottom: 20px !important;
}

.action input {
  width: inherit;
  border-radius: 0px;
  height: inherit;
  font-family: 'robotobold';
  font-size: 20px;
  background-color: black;
  color: white;
}

.action {
  height: 40px;
  width: 426px;
  background-color: black;
  text-align: center;
}