/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
    font-family: 'trackregular';
    src: url(font-path('track-webfont.eot'));
    src: url(font-path('track-webfont.eot') + '?#iefix') format('embedded-opentype'),
         url(font-path('track-webfont.woff2')) format('woff2'),
         url(font-path('track-webfont.woff')) format('woff'),
         url(font-path('track-webfont.ttf')) format('truetype'),
         url(font-path('track-webfont.svg') + '#trackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'capture_itregular';
    src: url(font-path('capture_it-webfont.eot'));
    src: url(font-path('capture_it-webfont.eot') + '?#iefix') format('embedded-opentype'),
         url(font-path('capture_it-webfont.woff2')) format('woff2'),
         url(font-path('capture_it-webfont.woff')) format('woff'),
         url(font-path('capture_it-webfont.ttf')) format('truetype'),
         url(font-path('capture_it-webfont.svg') + '#capture_itregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'capture_it_2regular';
    src: url(font-path('capture_it_2-webfont.eot'));
    src: url(font-path('capture_it_2-webfont.eot') + '?#iefix') format('embedded-opentype'),
         url(font-path('capture_it_2-webfont.woff2')) format('woff2'),
         url(font-path('capture_it_2-webfont.woff')) format('woff'),
         url(font-path('capture_it_2-webfont.ttf')) format('truetype'),
         url(font-path('capture_it_2-webfont.svg') + '#capture_it_2regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoblack';
    src: url(font-path('roboto-black-webfont.eot'));
    src: url(font-path('roboto-black-webfont.eot') + '?#iefix') format('embedded-opentype'),
         url(font-path('roboto-black-webfont.woff2')) format('woff2'),
         url(font-path('roboto-black-webfont.woff')) format('woff'),
         url(font-path('roboto-black-webfont.ttf')) format('truetype'),
         url(font-path('roboto-black-webfont.svg') + '#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotothin';
    src: url(font-path('roboto-thin-webfont.eot'));
    src: url(font-path('roboto-thin-webfont.eot') + '?#iefix') format('embedded-opentype'),
         url(font-path('roboto-thin-webfont.woff2')) format('woff2'),
         url(font-path('roboto-thin-webfont.woff')) format('woff'),
         url(font-path('roboto-thin-webfont.ttf')) format('truetype'),
         url(font-path('roboto-thin-webfont.svg') + '#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium_italic';
    src: url(font-path('roboto-mediumitalic-webfont.eot'));
    src: url(font-path('roboto-mediumitalic-webfont.eot') + '?#iefix') format('embedded-opentype'),
         url(font-path('roboto-mediumitalic-webfont.woff2')) format('woff2'),
         url(font-path('roboto-mediumitalic-webfont.woff')) format('woff'),
         url(font-path('roboto-mediumitalic-webfont.ttf')) format('truetype'),
         url(font-path('roboto-mediumitalic-webfont.svg') + '#robotomedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url(font-path('roboto-regular-webfont.eot'));
    src: url(font-path('roboto-regular-webfont.eot') + '?#iefix') format('embedded-opentype'),
         url(font-path('roboto-regular-webfont.woff2')) format('woff2'),
         url(font-path('roboto-regular-webfont.woff')) format('woff'),
         url(font-path('roboto-regular-webfont.ttf')) format('truetype'),
         url(font-path('roboto-regular-webfont.svg') + '#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight_italic';
    src: url(font-path('roboto-lightitalic-webfont.eot'));
    src: url(font-path('roboto-lightitalic-webfont.eot') + '?#iefix') format('embedded-opentype'),
         url(font-path('roboto-lightitalic-webfont.woff2')) format('woff2'),
         url(font-path('roboto-lightitalic-webfont.woff')) format('woff'),
         url(font-path('roboto-lightitalic-webfont.ttf')) format('truetype'),
         url(font-path('roboto-lightitalic-webfont.svg') + '#robotolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url(font-path('roboto-medium-webfont.eot'));
    src: url(font-path('roboto-medium-webfont.eot') + '?#iefix') format('embedded-opentype'),
         url(font-path('roboto-medium-webfont.woff2')) format('woff2'),
         url(font-path('roboto-medium-webfont.woff')) format('woff'),
         url(font-path('roboto-medium-webfont.ttf')) format('truetype'),
         url(font-path('roboto-medium-webfont.svg') + '#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url(font-path('roboto-light-webfont.eot'));
    src: url(font-path('roboto-light-webfont.eot') + '?#iefix') format('embedded-opentype'),
         url(font-path('roboto-light-webfont.woff2')) format('woff2'),
         url(font-path('roboto-light-webfont.woff')) format('woff'),
         url(font-path('roboto-light-webfont.ttf')) format('truetype'),
         url(font-path('roboto-light-webfont.svg') + '#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoitalic';
    src: url(font-path('roboto-italic-webfont.eot'));
    src: url(font-path('roboto-italic-webfont.eot') + '?#iefix') format('embedded-opentype'),
         url(font-path('roboto-italic-webfont.woff2')) format('woff2'),
         url(font-path('roboto-italic-webfont.woff')) format('woff'),
         url(font-path('roboto-italic-webfont.ttf')) format('truetype'),
         url(font-path('roboto-italic-webfont.svg') + '#robotoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url(font-path('roboto-bold-webfont.eot'));
    src: url(font-path('roboto-bold-webfont.eot') + '?#iefix') format('embedded-opentype'),
         url(font-path('roboto-bold-webfont.woff2')) format('woff2'),
         url(font-path('roboto-bold-webfont.woff')) format('woff'),
         url(font-path('roboto-bold-webfont.ttf')) format('truetype'),
         url(font-path('roboto-bold-webfont.svg') + '#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoblack_italic';
    src: url(font-path('roboto-blackitalic-webfont.eot'));
    src: url(font-path('roboto-blackitalic-webfont.eot') + '?#iefix') format('embedded-opentype'),
         url(font-path('roboto-blackitalic-webfont.woff2')) format('woff2'),
         url(font-path('roboto-blackitalic-webfont.woff')) format('woff'),
         url(font-path('roboto-blackitalic-webfont.ttf')) format('truetype'),
         url(font-path('roboto-blackitalic-webfont.svg') + '#robotoblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedbold_italic';
    src: url(font-path('robotocondensed-bolditalic-webfont.eot'));
    src: url(font-path('robotocondensed-bolditalic-webfont.eot') + '?#iefix') format('embedded-opentype'),
         url(font-path('robotocondensed-bolditalic-webfont.woff2')) format('woff2'),
         url(font-path('robotocondensed-bolditalic-webfont.woff')) format('woff'),
         url(font-path('robotocondensed-bolditalic-webfont.ttf')) format('truetype'),
         url(font-path('robotocondensed-bolditalic-webfont.svg') + '#roboto_condensedbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedlight_italic';
    src: url(font-path('robotocondensed-lightitalic-webfont.eot'));
    src: url(font-path('robotocondensed-lightitalic-webfont.eot') + '?#iefix') format('embedded-opentype'),
         url(font-path('robotocondensed-lightitalic-webfont.woff2')) format('woff2'),
         url(font-path('robotocondensed-lightitalic-webfont.woff')) format('woff'),
         url(font-path('robotocondensed-lightitalic-webfont.ttf')) format('truetype'),
         url(font-path('robotocondensed-lightitalic-webfont.svg') + '#roboto_condensedlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold_italic';
    src: url(font-path('roboto-bolditalic-webfont.eot'));
    src: url(font-path('roboto-bolditalic-webfont.eot') + '?#iefix') format('embedded-opentype'),
         url(font-path('roboto-bolditalic-webfont.woff2')) format('woff2'),
         url(font-path('roboto-bolditalic-webfont.woff')) format('woff'),
         url(font-path('roboto-bolditalic-webfont.ttf')) format('truetype'),
         url(font-path('roboto-bolditalic-webfont.svg') + '#robotobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condenseditalic';
    src: url(font-path('robotocondensed-italic-webfont.eot'));
    src: url(font-path('robotocondensed-italic-webfont.eot') + '?#iefix') format('embedded-opentype'),
         url(font-path('robotocondensed-italic-webfont.woff2')) format('woff2'),
         url(font-path('robotocondensed-italic-webfont.woff')) format('woff'),
         url(font-path('robotocondensed-italic-webfont.ttf')) format('truetype'),
         url(font-path('robotocondensed-italic-webfont.svg') + '#roboto_condenseditalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedbold';
    src: url(font-path('robotocondensed-bold-webfont.eot'));
    src: url(font-path('robotocondensed-bold-webfont.eot') + '?#iefix') format('embedded-opentype'),
         url(font-path('robotocondensed-bold-webfont.woff2')) format('woff2'),
         url(font-path('robotocondensed-bold-webfont.woff')) format('woff'),
         url(font-path('robotocondensed-bold-webfont.ttf')) format('truetype'),
         url(font-path('robotocondensed-bold-webfont.svg') + '#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotothin_italic';
    src: url(font-path('roboto-thinitalic-webfont.eot'));
    src: url(font-path('roboto-thinitalic-webfont.eot') + '?#iefix') format('embedded-opentype'),
         url(font-path('roboto-thinitalic-webfont.woff2')) format('woff2'),
         url(font-path('roboto-thinitalic-webfont.woff')) format('woff'),
         url(font-path('roboto-thinitalic-webfont.ttf')) format('truetype'),
         url(font-path('roboto-thinitalic-webfont.svg') + '#robotothin_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedlight';
    src: url(font-path('robotocondensed-light-webfont.eot'));
    src: url(font-path('robotocondensed-light-webfont.eot') + '?#iefix') format('embedded-opentype'),
         url(font-path('robotocondensed-light-webfont.woff2')) format('woff2'),
         url(font-path('robotocondensed-light-webfont.woff')) format('woff'),
         url(font-path('robotocondensed-light-webfont.ttf')) format('truetype'),
         url(font-path('robotocondensed-light-webfont.svg') + '#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedregular';
    src: url(font-path('robotocondensed-regular-webfont.eot'));
    src: url(font-path('robotocondensed-regular-webfont.eot') + '?#iefix') format('embedded-opentype'),
         url(font-path('robotocondensed-regular-webfont.woff2')) format('woff2'),
         url(font-path('robotocondensed-regular-webfont.woff')) format('woff'),
         url(font-path('robotocondensed-regular-webfont.ttf')) format('truetype'),
         url(font-path('robotocondensed-regular-webfont.svg') + '#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.name {
  font-family: 'capture_itregular', sans-serif;
  text-align: center;
  font-size: 80px;
  margin-top: 10px;
  color: white;
  background-color: black;
  // background: url(http://us.123rf.com/400wm/400/400/tiero/tiero0807/tiero080700039/3321427-fine-grunge-concrete-wall-texture.jpg);
  height: 120px;
  padding-top: 50px;
}

.name a {
  text-decoration: none;
  color: white;
}

.name a:hover {
  color: #333;
}

.quote h2 {
  font-family: 'trackregular', sans-serif;
  text-align: center;
  font-size: 14px;
  margin: 0px;
  margin-top: 3px;
  font-style: italic;
}

.quote-author a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}


.top-hr hr {
  height: 8px;
  color: black;
  background-color: black;
  margin: 0px;
}

.main-menu {
  padding-left: 15px;
}

.main-menu li {
  display: inline-block;
  margin-right: 30px;
  margin-top: 15px;
  font-family: 'trackregular', sans-serif;
  font-size: 20px;
}

.main-menu li a {
  text-decoration: none;
  color: black;
}

.jumbotron {
  margin-bottom: 15px;
}

.btm-hr hr {
  height: 3px;
  color: black;
  background-color: black;
  margin-top: 30px;
  margin-left: 0px;
  margin-right: 0px;
}